h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 0;
    font-size: 18pt
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 0;
    font-size: 13pt
}
   
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
    text-align: center;
    width: 42%;
    margin: auto
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify
}